@model List<english_learning_application.Models.Context>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, english_learning_application

<h2>Contexts</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Count)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var context in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => context.Name)
                </td>
                <td>
                    <a  asp-action="Details" asp-route-id="@context.ID">Details</a> |
                    <a asp-action="Edit" asp-route-id="@context.ID">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@context.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

