@model List<english_learning_application.Models.TranslatedWord>

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *, english_learning_application

@{
    ViewData["Title"] = "Translated Words";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                Text
            </th>
            <th>
                Language KEY
            </th>
            <th>
                SpeechPart.Name
            </th>
            <th>
                Translation
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Word.OriginalWord)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Language.Key)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SpeechPart.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Translation)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
